/** Generales */
    :root{
        --fuente-texto: "Nunito";
        --fuente-titulo: "Signika Negative";
        --bg-primario: #fdca40;
        --bg-primario-hover: #d4aa37;
        --bg-secundario: #273043;
        --bg-fondo: #52b788;
        --blanco: #fff;
        --negro: #000;
        --btn-color: #52b788;
        --btn-hover: #4CAF50;
    }

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    font-family: var(--fuente-texto);
}

h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
a {
    text-decoration: none;
}

/* Header */

.contenedor{
    width: 90%;
    max-width: 120rem;
    background-color: red;
    margin: 0 auto;
}

.navegacion__header{
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg-primario);
}

@media (min-width: 768px) {
    .navegacion__header{
        align-items: center;
        justify-content: space-around;
        background-color: var(--bg-primario);
    }
}

.navegacion__login{
    display: none;
}

@media (min-width: 768px) {
    .navegacion__login{
        display: block;
    }
}


.navegacion__imagen{
    height: 100%;
}

.navegacion__img{
    height: 100%;
    object-fit: contain;
}

.navegacion__search{
    border-radius: 2rem;
    padding: .5rem;
    position: relative;
    border: none;
    width: 105%;
}


@media (max-width: 320px) {
    .navegacion__busqueda{
        width: 43%;
    }
}

@media (min-width: 768px) {
    .navegacion__busqueda{
        width: 60%;
    }

    .navegacion__search{
        width: 100%;
    }
}

.busqueda{
    position: absolute;
    left: 81%;
    top: 4.1rem;
    background-color: var(--bg-primario);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
}

@media (min-width: 768px) {
    .busqueda{
        position: absolute;
        left: 75%;
        top: 3.9rem;
    }
}

@media (min-width: 980px) {
    .busqueda{
        position: absolute;
        left: 75%;
        top: 3.9rem;
    }
}

@media (min-width: 1840px) {
    .busqueda{
        position: absolute;
        left: 75%;
        top: 3.9rem;
    }
}

.busqueda:hover{
    transform: scale(1.2);
    background-color: var(--bg-primario-hover);
}

.login{
    text-decoration: none;
    color: var(--negro);
    font-size: 1.8rem;
    transition: all .3s;
    position: relative;
    font-weight: 600;
}

.login::after{
    content: "";
    width: 0;
    height: .2rem;
    display: block;
    background-color: var(--bg-secundario);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all .3s;
    z-index: -1;
    background-color: var(--negro);
}

.login:hover::after{
    width: 100%;
    z-index: 1;
}

/** Header  */

.header__flex{
    position: relative;
}

.img{
    width: 100%;
}

.header__contenedor{
    width: 100%;
    max-width: 130rem;
    margin: 0 auto;
    background-color: var(--bg-secundario);
}

@media (min-width: 768px) {
    .header__contenedor{
        width: 100%;
    }
}

.header__titulo{
    font-family: var(--fuente-titulo);
    color: var(--blanco);
    font-weight: 200;
    font-size: 2.5rem;
    padding: 1.5rem 1rem;
    margin: 0;
}

@media (min-width: 768px) {
    .header__titulo{
        width: 100%;
        position: absolute;
        top: 40%;
        text-align: center;
        backdrop-filter: blur(1rem);
    }
}


/** Servicios  */
.bento__contenedor{
    background-color: var(--bg-secundario);
}

.bento__productos{
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

.bento__informacion{
    color: #fff;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bento__grid{

    display: grid;
    grid-template-rows: 1fr;
    gap: 2rem;
    place-items: center;
}


.bento__card{
    width: 30rem;
    background-color: var(--bg-fondo);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.bento__grid > div {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para incluir padding y border en el tamaño total */
}


@media (min-width: 980px) {
    .bento__grid{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "ecommerse blog blog tecnico"
        "automatizacion automatizacion desarrollo desarrollo"
        "capacitacion mantenimiento mantenimiento consultoria";
    }

    .ecommerse{
        grid-area: ecommerse;
    }

    .blog{
        grid-area: blog;
    }

    .tecnico{
        grid-area: tecnico;
    }

    .automatizacion{
        grid-area: automatizacion;
    }

    .desarrollo{
        grid-area: desarrollo;
    }

    .capacitacion{
        grid-area: capacitacion;
    }

    .mantenimiento{
        grid-area: mantenimiento;
    }

    .consultoria{
        grid-area: consultoria;
    }

    .bento__grid > section {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-fondo); /* Color de fondo para visualizar */
        border-radius: 1rem; /* Opcional: bordes redondeados */
        gap: 2rem;
    }
}

.bento__img{
    width: 10rem;
}

.img{
    width: 100%;
    object-fit: contain;
}

.bento__parrafo{
    text-align: center;
    margin: 0;
}

.titulo{
    text-align: center;
}

.bento__texto{
    text-align: center;
    font-size: 1.5rem;
}

.bento__badge{
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 1rem;
    background-color: var(--btn-color);
    transition: all .3s;
}

.bento__badge:hover{
    background-color: #40906a;
    transform: scale(1.1);
    color: #fff;
}

.bento__btn{
    padding: 1rem;
    text-align: center;
    background-color: #5a189a;
    margin-bottom: 2rem;
    border-radius: 1rem;
    color: var(--blanco);
    transition: all .3s;
}


.bento__btn:hover{
    background-color: #270b44;
    transform: scale(1.1);
}