/** Generales */
:root{
    --fuente-texto: "Nunito";
    --fuente-titulo: "Signika Negative";
    --bg-primario: #fdca40;
    --bg-primario-hover: #d4aa37;
    --bg-secundario: #273043;
    --bg-fondo: #52b788;
    --blanco: #fff;
    --negro: #222;
    --btn-color: #52b788;
    --btn-hover: #4CAF50;
    --bg-facebook: #3b5998 ;
    --bg-instagram: #833AB4 ;
    --bg-fondo-nuetro: #efefef;
    --bg-fondo-opaco: #2222220d;
}

html{
font-size: 62.5%;
box-sizing: border-box;
background-color: var(--bg-fondo-nuetro);
}

*, *::after, *::before{
box-sizing: inherit;
}

body{
font-size: 1.6rem;
font-family: var(--fuente-texto);
}

a{
    text-decoration: none;
    color: #000;
}

@media (min-width: 768px) {
    .contenedor{
        width: 90%;
        max-width: 120rem;
        margin: 0 auto;
    }
    
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/** NAV  */
.no-scroll {
    overflow: hidden;
}

.navegacion{
    width: 100%;
    height: 7rem;
    position: absolute;
    background-color: var(--bg-primario);
}

.navegacion__iconos{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2rem;
}



.icono__menu,
.icono__carrito,
.icono__busqueda,
.icono__cerrar-compras{
    cursor: pointer;
    background-color: var(--bg-primario);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: all .3s;
}

@media (min-width: 768px) {
    .icono__menu{
        display: none;
    }
}

.icono__cerrar,
.icono__cerrar-menu{
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: all .3s;
    margin-left: 1rem;
}

.icono__menu:hover,
.icono__carrito:hover,
.icono__busqueda:hover,
.icono__cerrar-compras:hover{
    background-color: var(--bg-primario-hover);
    transform: scale(1.3);
}

.icono__cerrar:hover,
.icono__cerrar-menu:hover{
    transform: scale(1.3);
}

.fondo{
    width: 100%;
    height: 50rem;
    position: absolute;
    z-index: 1;
    justify-content: space-between;
}

.form{
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--blanco);
    display: none;
}

.navegacion__fondo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    background-color: var(--blanco);
    display: none;
    box-shadow: 0 0 5px -1px var(--negro);
    gap: 2rem;
    position: absolute;
}

@media (min-width: 768px) {
    .navegacion__fondo{
        position: relative;
        width: 19%;
        height: 69rem;
    }
}

@media (min-width: 768px) {
    .navegacion__fondo{
        width: 20%;
    }
}

.f-start{
    display: flex;
    align-items: flex-start;
}

[class^="icono__"]{
    margin-top: 2rem;
}

.navegacion__enlaces{
    height: 100%;
    display: flex;
    flex-direction: column;
    display: none;
    justify-content: space-around;
    gap: 2rem;
}

@media (min-width: 768px) {
    .navegacion__enlaces{
        height: 5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
        margin-top: 1rem;
    }
}

.navegacion__search{
    width: 90%;
    border: none;
    border-bottom: 1px solid #a5a5a5;
    outline: none;
}

.navegacion__btn{
    width: 50%;
    max-width: 70%;
    padding: 1rem;
    margin-top: 3rem;
    cursor: pointer;
    border: none;
    background-color: var(--bg-primario);
    transition: all .4s;
    border-radius: 2rem;
    font-weight: 600;
}

.navegacion__btn:hover{
    background-color: var(--bg-primario-hover);
    transform: scale(1.1);
}


.navegacion__img{
    height: 8rem;
    width: 10rem;
}

.navegacion__icono{
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-around;
}

@media (min-width: 768px) {
    .navegacion__icono{
        width: 10rem;
        justify-content: space-between;
    }
}

.navegacion__redes{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.enlace{
    color: var(--bg-secundario);
    font-weight: 600;
    transition: all .4s;
}

.enlace:hover{
    color: var(--negro);
    font-weight: 900;
    transform: scale(1.1);
}

.enlace::before{
    content: "";
    width: 0%;
    height: 10%;
    position: absolute;
    background-color: var(--negro);
    top: 2rem;
    transition: all .3s;
}

.enlace:hover::before{
    width: 100%;
    
}


@media (min-width: 768px) {
    .enlaces{
        flex-direction: row;
    }
}



.navegacion__imagen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oculto{
    display: none;
}

.visible{
    display: flex;
}

.facebook{
    transition: all .4s;
}

.facebook:hover{
    color: var(--bg-facebook);
    transform: rotate(360deg) scale(1.4);
}


.twitter{
    transition: all .4s;
}

.twitter:hover{
    color: var(--blanco);
    transform: rotate(360deg) scale(1.4);
}

.instagram{
    transition: all .4s;
}

.instagram:hover{
    color: var(--bg-instagram);
    transform: rotate(360deg) scale(1.4);
}

@media (min-width: 768px) {
    .navegacion__imagen{
        display: inline;
        width: 0;
    }
}

/** Header  */

.header__titulo{
    font-family: var(--fuente-titulo);
    color: var(--blanco);
    font-weight: 200;
    font-size: 2.2rem;
    padding: 2rem;
    margin: 0;
}

@media (min-width: 768px) {
    .header__titulo{
        width: 90%;
        position: absolute;
        top: 18%;
        text-align: center;
        backdrop-filter: blur(1rem);
    }
}

@media (min-width: 1280px) {
    .header__titulo{
        width: 90.1%;
        top: 35%;
        
    }
}

@media (min-width: 1440px) {
    .header__titulo{
        width: 83.3%;
        
    }
}


@media (min-width: 1540px) {
    .header__titulo{
        width: 62.5%;
        
    }
}

.header__flex{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secundario);
}

.navegacion__fondo-menu{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primario);
}

.navegacion__menu-responsivo{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color: var(--blanco);
}

@media (min-width: 768px) {
    .navegacion__menu-responsivo{
        width: 0;
    }
}


/** Servicios  */
.bento__contenedor{
    background-color: var(--bg-secundario);
    padding: 0px 0 5rem 0;
}

.bento__productos{
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

.bento__informacion{
    color: #fff;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bento__grid{

    display: grid;
    grid-template-rows: 1fr;
    gap: 2rem;
    place-items: center;
}


.bento__card{
    width: 30rem;
    background-color: var(--bg-fondo);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.bento__grid > div {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para incluir padding y border en el tamaño total */
}


@media (min-width: 980px) {
    .bento__grid{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "ecommerse blog blog tecnico"
        "automatizacion automatizacion desarrollo desarrollo"
        "capacitacion mantenimiento mantenimiento consultoria";
    }

    .ecommerse{
        grid-area: ecommerse;
    }

    .blog{
        grid-area: blog;
    }

    .tecnico{
        grid-area: tecnico;
    }

    .automatizacion{
        grid-area: automatizacion;
    }

    .desarrollo{
        grid-area: desarrollo;
    }

    .capacitacion{
        grid-area: capacitacion;
    }

    .mantenimiento{
        grid-area: mantenimiento;
    }

    .consultoria{
        grid-area: consultoria;
    }

    .bento__grid > section {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-fondo); /* Color de fondo para visualizar */
        border-radius: 1rem; /* Opcional: bordes redondeados */
        gap: 2rem;
    }
}

.bento__img{
    width: 10rem;
}


.bento__parrafo{
    text-align: center;
    margin: 0;
}

.titulo{
    text-align: center;
}

.bento__texto{
    text-align: center;
    font-size: 1.5rem;
}

.bento__badge{
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 1rem;
    background-color: var(--btn-color);
    transition: all .3s;
}

.bento__badge:hover{
    background-color: #40906a;
    transform: scale(1.1);
    color: #fff;
}

.bento__btn{
    padding: 1rem;
    text-align: center;
    background-color: #5a189a;
    margin-bottom: 2rem;
    border-radius: 1rem;
    color: var(--blanco);
    transition: all .3s;
}


.bento__btn:hover{
    background-color: #270b44;
    transform: scale(1.1);
}

/** Soporte tecnico  */
.soporte{
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--bg-primario);
}

@media (min-width: 768px) {
    .soporte{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.soporte__informacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

@media (min-width: 768px) {
    .soporte__informacion{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.soporte__btn{
    width: 50%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background-color: var(--negro);
    transition: all .4s;
    color: #fff;
    font-weight: 600;
    border-radius: 1rem;
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .soporte__btn{
        width: 90%;
        height: 5rem;
    }
}

@media (min-width: 980px) {
    @media (min-width: 768px) {
        .soporte__btn{
            width: 30%;
        }
    }
    
}

.soporte__btn:hover{
    background-color: var(--blanco);
    color: #000;
    transform: scale(1.1);
    border: 1px solid var(--negro);
}

.soporte__titulo{
    font-size: 3rem;
    text-align: center;
}


@media (min-width: 768px) {
    .soporte__titulo{
        font-size: 4rem;
    }
}

.soporte__texto{
    font-size: 1.8rem;
    padding: 0 1rem;
}

@media (min-width: 768px) {
    .soporte__texto{
        font-size: 2.2rem;
        padding: 0 2rem;

    }
}

/** Compras  */
.compras{
    height: 100%;
}

.compras__contenedor{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

}

@media (min-width: 768px) {
    .compras__contenedor{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 980px) {
    .compras__contenedor{
        grid-template-columns: repeat(4, 1fr);
    
    }
}



.compras__card,
.compras__informacion{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: 1px solid var(--negro);
    padding: 2rem;
    transition: all .3s;
}

.compras__card:hover{
    background-color: #cccccc;
}

.img{
    transition: all .4s;
}

.compras__card:hover > img{
    transition: all .3s;
    transform: scale(1.2);
}

.compras__btn{
    width: 50%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background-color: var(--negro);
    transition: all .4s;
    color: #fff;
    font-weight: 600;
    border-radius: 1rem;
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .soporte__btn{
        width: 90%;
        height: 5rem;
    }
}

@media (min-width: 980px) {
    @media (min-width: 768px) {
        .soporte__btn{
            width: 30%;
        }
    }
    
}

img{
    width: 50%;
}

.compras__resaltar{
    font-weight: 900;
}

/** PROMESAS  */
    .garantias{
        padding: 2rem;
}

.garantia__titulo{
    text-align: center;
}


.garantias__flex{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 3rem;
}

@media (min-width: 768px) {
    .garantias__flex{
        display: flex;
    }
}

.garantia__card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.garantia__texto{
    text-align: center;
}

.garantia__icono{
    width: 5rem;
}

/** Testimonios  */
.testimonios{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    background-color: var(--bg-secundario);
    color: var(--blanco);
}

.testimonios__flex{
    width: 90%;
    height: 850px;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .testimonios__flex{
        width: 90%;
        height: 700px;
        position: relative;
        border-radius: 1rem;
        overflow: hidden;
    }
    
}

.testimonios__card {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    visibility: hidden; /* Ocultar inicialmente */
    opacity: 0; /* Transparente por defecto */
    transition: opacity 0.5s ease; /* Transición suave para aparecer/desaparecer */
}

@media (min-width: 768px) {
    .testimonios__card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        visibility: hidden; /* Ocultar inicialmente */
        opacity: 0; /* Transparente por defecto */
        transition: opacity 0.5s ease; /* Transición suave para aparecer/desaparecer */
        height: 100%;
    }
    
}

.testimonios__card:nth-child(1) {
    visibility: visible; /* Mostrar la primera tarjeta por defecto */
    opacity: 1; /* Totalmente visible */
}
.testimonios__img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    box-shadow: rgba(221, 221, 221, 0.56) 0px 22px 70px 4px;
}

@media (min-width: 768px) {
    .testimonios__img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    
}

@media (min-width: 980px) {
    .testimonios__img{
        width: 50%;
        height: 100%;
        border-radius: 50%;
    }
    
}

.testimonio__imagen{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .testimonio__imagen{
        width: 50%;
        height: 50%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

.testimonio__informacion{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 2rem;
}

@media (min-width: 768px) {
    .testimonio__informacion{
        width: 50%;
    }
    
}

.testimonios__btns{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin:  0 0 5rem 0;
}

.testimonios__texto{
    position: relative;
    height: 100%;
    width: 100%;
}

.testimonio__nombre{
    text-align: center;
}

.testimonio__siguiente,
.testimonio__anterior{
    cursor: pointer;
    border: none;
    width: 5rem;
    font-size: 2rem;
    font-weight: 900;
    background-color: var(--bg-primario);
    transition: all .4s;
    border-radius:5px;
}

.testimonio__siguiente:hover,
.testimonio__anterior:hover{
    background-color: var(--bg-primario-hover);
    transform: scale(1.3);
}

.resaltar{
    font-style: italic;
    font-weight: 900;
}

.testimonios__titulo{
    margin: 5rem 0 0 0;
    font-weight: 900;
}

/** FOOTER  */
.footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

.footer__contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .footer__contenedor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5rem;
    }
    
}

@media (min-width: 980px) {
    .footer__contenedor{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 5rem;
    }
    
}


.footer__card{
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--negro);
    border-bottom: 1px solid var(--negro);
}

.footer__enlaces{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 50%;
}

.footer__enlace:hover{
    font-weight: 7;
}

.footer__suscribir{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__input{
    border: none;
    outline: none;
    width: 25rem;
    border-radius: 1rem;
    padding: 1rem;
}

.footer__btn{
    padding: 1rem;
    margin-top: 3rem;
    cursor: pointer;
    border: none;
    background-color: var(--bg-primario);
    transition: all .4s;
    border-radius: 2rem;
    font-weight: 600;
}

.footer__btn:hover{
    background-color: var(--bg-primario-hover)
}

.footer__informacion{
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
}