/** Generales */
    :root{
        --fuente-texto: "Nunito";
        --fuente-titulo: "Signika Negative";
        --bg-primario: #00A8E8;
        --bg-primario-hover: #005F99;
        --bg-secundario: #3D3D3D;
        --bg-secundario-2: #FF5722;
        --blanco: #fff;
        --negro: #000;
        --bg-exito: #4CAF50;
    }

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    font-family: var(--fuente-texto);
}

h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
a {
    text-decoration: none;
}


/* Header */

.contenedor{
    width: 90%;
    max-width: 120rem;
    background-color: red;
    margin: 0 auto;
}

.navegacion__header{
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg-primario);
}

@media (min-width: 768px) {
    .navegacion__header{
        align-items: center;
        justify-content: space-around;
        background-color: var(--bg-primario);
    }
}

.navegacion__login{
    display: none;
}

@media (min-width: 768px) {
    .navegacion__login{
        display: block;
    }
}


.navegacion__imagen{
    height: 100%;
}

.navegacion__img{
    height: 100%;
    object-fit: contain;
}

.navegacion__search{
    border-radius: 2rem;
    padding: .5rem;
    position: relative;
    border: none;
    width: 105%;
}


@media (max-width: 320px) {
    .navegacion__busqueda{
        width: 43%;
    }
}

@media (min-width: 768px) {
    .navegacion__busqueda{
        width: 60%;
    }

    .navegacion__search{
        width: 100%;
    }
}

.busqueda{
    position: absolute;
    left: 81%;
    top: 4.1rem;
    background-color: var(--bg-primario);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
}

@media (min-width: 768px) {
    .busqueda{
        position: absolute;
        left: 75%;
        top: 3.9rem;
    }
}

@media (min-width: 980px) {
    .busqueda{
        position: absolute;
        left: 75%;
        top: 3.9rem;
    }
}

@media (min-width: 1840px) {
    .busqueda{
        position: absolute;
        left: 75%;
        top: 3.9rem;
    }
}

.busqueda:hover{
    transform: scale(1.2);
    background-color: var(--bg-primario-hover);
}

.login{
    text-decoration: none;
    color: var(--blanco);
    font-size: 1.8rem;
    transition: all .3s;
    position: relative;
    font-weight: 600;
}

.login::after{
    content: "";
    width: 0;
    height: .2rem;
    display: block;
    background-color: var(--bg-secundario);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all .3s;
    z-index: -1;
    background-color: var(--blanco);
}

.login:hover::after{
    width: 100%;
    z-index: 1;
}

/** Header  */

.header__flex{
    position: relative;
}

.img{
    width: 100%;
}

.header__contenedor{
    width: 100%;
    max-width: 130rem;
    margin: 0 auto;
    background-color: var(--bg-secundario);
}

@media (min-width: 768px) {
    .header__contenedor{
        width: 100%;
    }
}

.header__titulo{
    font-family: var(--fuente-titulo);
    color: var(--blanco);
    font-weight: 200;
    font-size: 2.5rem;
    padding: 1.5rem 1rem;
    margin: 0;
}

@media (min-width: 768px) {
    .header__titulo{
        width: 100%;
        position: absolute;
        top: 40%;
        text-align: center;
        backdrop-filter: blur(1rem);
    }
}


/** Servicios  */
.bento__contenedor{
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}