/** Generales */
:root{
    --fuente-texto: "Nunito";
    --fuente-titulo: "Signika Negative";
    --bg-primario: #fdca40;
    --bg-primario-hover: #d4aa37;
    --bg-secundario: #273043;
    --bg-fondo: #52b788;
    --blanco: #fff;
    --negro: #000;
    --btn-color: #52b788;
    --btn-hover: #4CAF50;
}

html{
font-size: 62.5%;
box-sizing: border-box;
}

*, *::after, *::before{
box-sizing: inherit;
}

body{
font-size: 1.6rem;
font-family: var(--fuente-texto);
}

a{
    text-decoration: none;
    color: #000;
}

@media (min-width: 768px) {
    .contenedor{
        width: 90%;
        max-width: 120rem;
        margin: 0 auto;
    }
    
}

.img {
    width: 100%;
    object-fit: contain;
}

/** NAV  */

.navegacion{
    width: 100%;
    height: 7rem;
    position: absolute;
    background-color: var(--bg-primario);
}

.navegacion__iconos{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2rem;
}



.icono__menu,
.icono__carrito,
.icono__busqueda,
.icono__cerrar-compras{
    cursor: pointer;
    background-color: var(--bg-primario);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: all .3s;
}

@media (min-width: 768px) {
    .icono__menu{
        display: none;
    }
}

.icono__cerrar{
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: all .3s;
    margin-left: 1rem;
}

.icono__menu:hover,
.icono__carrito:hover,
.icono__busqueda:hover,
.icono__cerrar-compras:hover{
    background-color: var(--bg-primario-hover);
    transform: scale(1.3);
}

.icono__cerrar:hover{
    transform: scale(1.3);
}

.fondo{
    width: 100%;
    height: 50rem;
    position: absolute;
    z-index: 1;
    justify-content: space-between;
}

.form{
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--blanco);
    display: none;
}

.navegacion__fondo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    background-color: var(--blanco);
    display: none;
    box-shadow: 0 0 5px -1px var(--negro);
    gap: 2rem;
    position: absolute;
}

@media (min-width: 768px) {
    .navegacion__fondo{
        position: relative;
        width: 19%;
        height: 69rem;
    }
}

@media (min-width: 768px) {
    .navegacion__fondo{
        width: 20%;
    }
}

.visible{
    display: flex;
}

.oculto{
    display: none;
}

.f-start{
    display: flex;
    align-items: flex-start;
}

[class^="icono__"]{
    margin-top: 2rem;
}

.navegacion__enlaces{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    display: none;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .navegacion__enlaces{
        display: flex;
    }
}

.navegacion__search{
    width: 90%;
    border: none;
    border-bottom: 1px solid #a5a5a5;
    outline: none;
}

.navegacion__btn{
    width: 50%;
    max-width: 70%;
    padding: 1rem;
    margin-top: 3rem;
    cursor: pointer;
    border: none;
    background-color: var(--bg-primario);
    transition: all .4s;
    border-radius: 2rem;
    font-weight: 600;
}

.navegacion__btn:hover{
    background-color: var(--bg-primario-hover);
    transform: scale(1.1);
}


.navegacion__img{
    height: 8rem;
    width: 10rem;
}

.navegacion__icono{
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-around;
}

@media (min-width: 768px) {
    .navegacion__icono{
        width: 10rem;
        justify-content: space-between;
    }
}

/** Header  */

.header__titulo{
    font-family: var(--fuente-titulo);
    color: var(--blanco);
    font-weight: 200;
    font-size: 2.2rem;
    padding: 2rem;
    margin: 0;
}

@media (min-width: 768px) {
    .header__titulo{
        width: 90%;
        position: absolute;
        top: 18%;
        text-align: center;
        backdrop-filter: blur(1rem);
    }
}

@media (min-width: 1280px) {
    .header__titulo{
        width: 90.1%;
        top: 35%;
        
    }
}

@media (min-width: 1440px) {
    .header__titulo{
        width: 83.3%;
        
    }
}


@media (min-width: 1540px) {
    .header__titulo{
        width: 62.5%;
        
    }
}



.header__flex{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secundario);
}

/** Servicios  */
.bento__contenedor{
    background-color: var(--bg-secundario);
}

.bento__productos{
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

.bento__informacion{
    color: #fff;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bento__grid{

    display: grid;
    grid-template-rows: 1fr;
    gap: 2rem;
    place-items: center;
}


.bento__card{
    width: 30rem;
    background-color: var(--bg-fondo);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.bento__grid > div {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para incluir padding y border en el tamaño total */
}


@media (min-width: 980px) {
    .bento__grid{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "ecommerse blog blog tecnico"
        "automatizacion automatizacion desarrollo desarrollo"
        "capacitacion mantenimiento mantenimiento consultoria";
    }

    .ecommerse{
        grid-area: ecommerse;
    }

    .blog{
        grid-area: blog;
    }

    .tecnico{
        grid-area: tecnico;
    }

    .automatizacion{
        grid-area: automatizacion;
    }

    .desarrollo{
        grid-area: desarrollo;
    }

    .capacitacion{
        grid-area: capacitacion;
    }

    .mantenimiento{
        grid-area: mantenimiento;
    }

    .consultoria{
        grid-area: consultoria;
    }

    .bento__grid > section {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-fondo); /* Color de fondo para visualizar */
        border-radius: 1rem; /* Opcional: bordes redondeados */
        gap: 2rem;
    }
}

.bento__img{
    width: 10rem;
}

.img{
    width: 100%;
    object-fit: contain;
}

.bento__parrafo{
    text-align: center;
    margin: 0;
}

.titulo{
    text-align: center;
}

.bento__texto{
    text-align: center;
    font-size: 1.5rem;
}

.bento__badge{
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 1rem;
    background-color: var(--btn-color);
    transition: all .3s;
}

.bento__badge:hover{
    background-color: #40906a;
    transform: scale(1.1);
    color: #fff;
}

.bento__btn{
    padding: 1rem;
    text-align: center;
    background-color: #5a189a;
    margin-bottom: 2rem;
    border-radius: 1rem;
    color: var(--blanco);
    transition: all .3s;
}


.bento__btn:hover{
    background-color: #270b44;
    transform: scale(1.1);
}
